.totalValue {
	font-size: 20px;
}
.totalValue.Numbers {
	font-weight: bold;
}
.callList tr td {
	font-size: 10px;
	padding: 2px !important;
}
#dateDetail {
	padding: 2px;
	background: #dbdbdb;
}
.dateDetailItem {
	text-align: center;
	padding: 2px;
	margin: 10px;
	background: #fff;
}